<div class="content" role="main">

  <h2>Ações</h2>

  <input type="hidden" #selection>

  <div class="card-container">

  <app-radar *ngFor="let papel of papels"
    [nomePapel]="papel.papel"
    [valor]="papel.valor"> </app-radar>

  </div>

    <!-- Terminal -->
    <div class="terminal" [ngSwitch]="selection.value">
      <pre *ngSwitchDefault>ng generate component xyz</pre>
      <pre *ngSwitchCase="'material'">ng add @angular/material</pre>
      <pre *ngSwitchCase="'pwa'">ng add @angular/pwa</pre>
      <pre *ngSwitchCase="'dependency'">ng add _____</pre>
      <pre *ngSwitchCase="'test'">ng test</pre>
      <pre *ngSwitchCase="'build'">ng build --prod</pre>
  </div> 
</div>